@charset "UTF-8";

body {
    background: black;
    background: -moz-linear-gradient(45deg, black 100%, white 0%);
    background: -webkit-linear-gradient(45deg, black 100%, white 0%);
    background: -o-linear-gradient(45deg, black 0%, white 100%);
    background: linear-gradient(45deg, black 60%, white 115%);
    padding: 0%;
    margin: 0%;
}
#bodyhomepage {
    background: black;
    background: -moz-linear-gradient(top, black 100%, white 0%);
    background: -webkit-linear-gradient(top, black 100%, white 0%);
    background: -o-linear-gradient(top, black 0%, white 100%);
    background: linear-gradient(to bottom, black 60%, white 115%);
    padding: 0%;
    margin: 0%;
}
#title, #titleabout, #projectslist, #titlecontact {
    width: 50%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    font-size: 165%;
    color: white;
    text-align: center;
}
#navigation, #aboutmeinfo {
    color: white;
    background-color: rgb(39, 39, 39);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150%;
    width: 50%;
    height: 700px;
}
#footer {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    color: white;
    text-align: center;
    font-size: 17px;
}
#contactform {
    width: 50%;
    height: 710px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    color: white;
}
#projectexplanation{
    color: white;
}
#projecttitle{
    color: rgb(175, 175, 175);
}
#grade{
    color: rgb(125, 125, 125);
}
a:link {
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    background-color: rgb(92, 0, 92);
    color: black;
}
.clear{
    clear:both;
}