@charset "UTF-8";

body {
    background: black;
    background: -moz-linear-gradient(top, black 100%, white 0%);
    background: -webkit-linear-gradient(top, black 100%, white 0%);
    background: -o-linear-gradient(top, black 0%, white 100%);
    background: linear-gradient(to bottom, black 60%, white 115%);
    padding: 0px;
    margin: 0px;
}
#title {
    width: 960px;
    height: 812px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    font-size: 25px;
    color: white;
    text-align: center;
}
#wrappercontact {
    width: 960px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    color: white;
}
header {
    color: white;
}
#navigation {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    width: 400px;
    height: 300px;
}
#footer {
    width: 960px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    color: white;
}
