@charset "UTF-8";
body {
    background: black;
    background: -moz-linear-gradient(top, black 100%, green 0%);
    background: -webkit-linear-gradient(top, black 100%, green 0%);
    background: -o-linear-gradient(top, black 0%, green 100%);
    background: linear-gradient(to bottom, black 60%, green 115%);
    padding: 0%;
    margin: 0%;
}
#title, #titleabout, #projectslist, #titlecontact {
    width: 50%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    font-size: 140%;
    color: greenyellow;
    text-align: center;
}
#navigation {
    color: greenyellow;
    background-color: rgb(39, 39, 39);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150%;
    width: 50%;
    height: 625px;
}
#footer {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    color: greenyellow;
    text-align: center;
    font-size: 17px;
}
#contactform {
    width: 50%;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    color: greenyellow;
}
#projectexplanation{
    color: greenyellow;
}
#projecttitle{
    color: rgb(53, 85, 53);
}
#grade{
    color: rgb(125, 125, 125);
}
a:link {
    color: rgb(97, 196, 97);
}
a:visited{
    color: rgb(53, 85, 53);
}
a:hover{
    color: rgb(255, 255, 255);
}
.clear{
    clear:both;
}