@charset "UTF-8";
body {
    background: black;
    background: -moz-linear-gradient(45deg, black 100%, greenyellow 0%);
    background: -webkit-linear-gradient(45deg, black 100%, greenyellow 0%);
    background: -o-linear-gradient(45deg, black 0%, greenyellow 100%);
    background: linear-gradient(45deg, black 60%, greenyellow 115%);
    padding: 0%;
    margin: 0%;
    height: 900px;
}
#bodyhomepage {
    background: black;
    background: -moz-linear-gradient(top, black 100%, greenyellow 0%);
    background: -webkit-linear-gradient(top, black 100%, greenyellow 0%);
    background: -o-linear-gradient(top, black 0%, greenyellow 100%);
    background: linear-gradient(to bottom, black 60%, greenyellow 115%);
    padding: 0%;
    margin: 0%;
    height: 900px
}
#title, #titleabout, #projectslist, #titlecontact {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    font-size: 140%;
    color: greenyellow;
    text-align: center;
}
#navigation, #aboutmeinfo {
    color: greenyellow;
    background-color: rgb(39, 39, 39);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150%;
    width: 50%;
}
#footer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    color: greenyellow;
    text-align: center;
    font-size: 17px;
}
#contactform {
    width: 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(39, 39, 39);
    color: greenyellow;
}
#projectexplanation{
    color: greenyellow;
}
#projecttitle{
    color: rgb(53, 85, 53);
}
#grade{
    color: rgb(125, 125, 125);
}
a:link {
    color: white;
    background-color: rgb(37, 56, 0);
}
a:visited{
    color: white;
    background-color: rgb(37, 56, 0);

}
a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.clear{
    clear:both;
}
body img{
    border-radius: 50%;
}
video{
    width: 90%;
}